:root{
    --white: #FFFFFF;
    --black: #000000;
    --strong-grey: #979797;
    --light_grey: #D8D8D8;
    --ored: #FF6565;
}

@font-face {
    font-family: myfont_bold;
    src: url("./fonts/SourceSansPro-Bold.otf");
}

@font-face {
    font-family: myfont_normal;
    src: url("./fonts/SourceSansPro-Regular.otf");
}

p{
    font-family: myfont_normal;
}

h1{
    font-family: myfont_bold;
}
h3{
    font-family: myfont_bold;
    
}

body{
    width: 100vw;
    height: 100%;
}


.header {
    display: flex;
    width: 100%;
    height: 800px;
    align-items: center;
    background-image: url("./Assets/images/headphones_hero_1.jpg");
    flex-direction: column;
}

.container {
    width: 1000.39px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    flex-direction: initial ;
    margin: 2%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 255px;
}
a {
    text-decoration: none;
    color: var(--white);
}

.hero {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 45%;
    position: relative;
    top: 30%;
}

.header1{
    color: var(--white);
}

.para{
    color: var(--white);
}
.button{
    width: 162px;
    height: 44px;
    color: var(--white);
    border-radius: 22px;
    border-color: transparent;
    background: #FF6565;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}
.para2{
    color: var(--white);
    text-align: center;
}

.main-container{
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main-p{
    width: 45%;
    text-align: center;
}

.main-box{
    width: 1002px;
    height: 193px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
}

.info-box{
    width: 207px;
    height: 193px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 5%;
}

.main-img{
    height: 45%;
}

.part-3{
    width: 100%;
    height: 650px;
    background-image: url("./Assets/images/headphones_hero_2.jpg");
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    color: var(--white);
}
.part-3text{
    width: 637px;
    text-align: center;
}
.polygon{
    width: 190px;
    height: 190px;
    background-image: url("./Assets/images/Polygon\ Copy.svg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--white);
}

.p-poly{
    font-size: 14px;
font-style: normal;
font-weight: 400;
}

.part-3box{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.part-4{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-bar{
    width: 335px;
    height: 373px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

input::placeholder{
    color: var(--black);
}

input:focus{
    outline: none;
}

input{
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    border: none;
    border-bottom: solid 1px var(--strong-grey);
    width: 100%;
}